#features-menu li a.icon-support span.icon {
  background:url(icon.png) no-repeat;
}

span.spaces-feature.feature-support_tickets {
  background:url(icon_small.png) no-repeat;
}

#edit-field-ticket-type-value-wrapper,
#edit-field-ticket-priority-value-wrapper,
#edit-field-ticket-state-value-wrapper {
  width: 45%;
}